<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" href="style.css"
    </head>
    <body>
        <header>
            <h2>Header</h2>
        </header>

        <nav class="navbar">

        </nav>

        <main>
            <aside>
                <h2>This is a aside</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta a quisquam quibusdam modi quidem labore pariatur magnam, provident quia vitae velit, corporis officiis veritatis distinctio adipisci aspernatur. Consequatur, cum consectetur.</p>
            </aside>

            <section>
                <h2>This is a section</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem hic quae fuga sint ea sequi iure maxime sunt blanditiis, earum perspiciatis iste velit vel. Sed repellendus blanditiis esse quibusdam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos esse accusantium magnam quaerat officiis natus doloremque corporis? Cumque blanditiis rem dignissimos maiores vitae in tenetur sunt assumenda, inventore dolores. Laborum?</p>
            </section>

            <article>
                <h2>This is an articte</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat distinctio magni, itaque magnam fuga iusto aut rem, aliquid dolor velit optio vel culpa nesciunt delectus nisi sunt recusandae! A, cupiditate.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum praesentium vero provident dignissimos sed deserunt ad aut. Enim suscipit dicta atque nostrum maiores, quo quibusdam earum repudiandae optio illo.</p>

            </article>

        </main>

        <footer> 
            <h2>Footer</h2>
        </footer>
    </body>
</html>